<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>厝動HomeGym</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/all.min.css">
</head>
<body>


    <!-- 導覽列 10/3更新-->
    <nav class="main_nav navbar navbar-expand-md navbar-light pe-3 bg-primary border-bottom border-primary">
        <div class="container-fluid">
            <div class="navbar-brand d-flex align-items-center">
                <img class="m-auto" style="height: 40px;" src="./imag/hg_logo/logo.svg" alt="">
                <a class="text-white" href="./index.html">厝動 HomeGym</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex ms-auto position-relative col-4">
                    <input class="form-control" type="text" placeholder="關鍵字搜尋" aria-label="default input example"> 
                    <i class="fa fa-search position-absolute end-0 fs-4 p-1 pe-2" aria-hidden="true"></i>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                    <div id="marker"></div>
                    <li class="nav-item">
                        <a class="nav-link ms-3 text-white" aria-current="page" href="./shopping.html"><i class="fa fa-caret-square-o-right text-white" aria-hidden="true"></i>
                        商城</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link ms-3 text-white" href="./shoppingCar.html"><i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
                        購物車</a>
                        <div class="dropdown-menu dropdown-menu-right" style="min-width:400px;min-height:100px;" id="dropdown-menu">
                            <div class="px-3 py-2 " id="menu">
                                <!-- 動態新增 -->
                            </div>   
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link ms-3 dropdown dropdown-toggle text-white" id="mycourse_areas_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-window-maximize text-white" aria-hidden="true"></i>
                            我的課程</a>
                            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="mycourse_areas_dropdown">
                                <li><a class="dropdown-item" href="./mycoursesAreasBuyedCourse.html">已買課程</a></li>
                                <li><a class="dropdown-item" href="./mycoursesAreasKeepCourse.html">收藏課程</a></li>
                                <li><a class="dropdown-item" href="./myFitnessPlan.html">健身計畫</a></li>
                                <li><a class="dropdown-item start_btn" href="#" data-bs-toggle="modal" data-bs-target="#quiz_info">健身知識</a></li>
                            </ul>
                        </div>
                    </li>
                    <img class="ms-4 rounded-circle" src="https://fakeimg.pl/50x50/" alt="...">
                    <li class="nav-item me-4">
                        <div class="top ms-3">
                            <a class="text-white" href="" data-bs-toggle="modal" data-bs-target="#signup">註冊</a>
                            <a class="text-white" href="" data-bs-toggle="modal" data-bs-target="#login">登入</a>
                        </div>
                        <div class="buttom text-center ms-3 dropdown">
                            <a class="dropdown-toggle text-white" href="#" id="member_areas_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">會員專區</a>
                            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="member_areas_dropdown">
                                <li><a class="dropdown-item" href="./memberAreasIntroduction.html">會員中心</a></li>
                                <li><a class="dropdown-item" href="./memberAreasApplicationCoach.html">成為教練</a></li>
                                <li><a class="dropdown-item" href="./coachingAreasIntroduction.html">教練專區</a></li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>


    
    <!-- 忘記密碼 -->
    <section id="app" class="coach_introduction">
        <div class="container-fluid">
            <div class="row" style="height: 90vh;">
                
                
                <div class="col-6 mb-6 d-flex ms-auto me-auto">
                    <div class="container p-3 mt-6">
                        <div class="d-flex justify-content-center">
                            <h4 class="mb-5 border border-2 border-dark d-inline-block p-4 bg-primary text-white">修改密碼</h4>
                        </div>
                        <p class="text-center fs-4">修改密碼完後，請重新登入</p>
                        <div class="mb-4 row align-items-center">
                            <label for="newpwd" class="fs-5 col-auto col-form-label">新密碼</label>
                            <div class="col-10">
                              <input type="password" class="form-control  form-control-lg" name="oldpwd" id="newpwd" v-model="psw" placeholder="請輸入密碼">
                            </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                            <label for="repwd" class="fs-5 col-auto col-form-label">新密碼</label>
                            <div class="col-10">
                              <input type="password" class="form-control  form-control-lg" name="oldpwd" id="repwd" v-model="repsw" placeholder="確認密碼">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-primary btn-lg ms-2 ps-4 pe-4" @click="inputpsw">送出</button>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.1/axios.js' integrity='sha512-LogMNgGlX6xjUWK/hYLh0dPM0hxgmSx/FmoTsBAHVR/XZkMo3+5GLLIhWt4Tb352+vmoa2Boq0KiDq+bskFzXQ==' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.js' integrity='sha512-HkIQeXPu1b2dfKMXSER0khPNRQNY4rOVyUPDoSAIvX4Oalp9xsNZFz+GRLJSpyGYkjYlcTfEzN0YFvkZPD4n5g==' crossorigin='anonymous'></script>

<script>
    new Vue({
        el:"#app",
        data:{
            psw:"",
            repsw:"",
            memberEmail:""
        },
        methods: {
            inputpsw(){
                if(!this.memberEmail) return false; //阻止空字串送出

                axios.post(`/forget/reset`,{
                    memberEmail:this.memberEmail,
                    newPassword:this.psw,
                    newPasswordCheck:this.repsw
                }).then((res)=>{
                    console.log(res);
                    alert(res.data);
                    localStorage.removeItem("memberEmail")
                    window.location.replace("/");
                })

            }
        },
        mounted(){
            this.memberEmail = localStorage.getItem("memberEmail")
        }
    })
</script>
</html>