<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>厝動 HomeGym</title>
    <meta name="robots" content="index,follow">
    <meta name="description" content="請輸入"><!-- 填寫網頁的簡介 -->
    <link rel="icon" href="./imag/hg_logo/logo_black_white.png" />

    <!-- Bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Swiper插件<幻燈片使用> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.6/swiper-bundle.css" integrity="sha512-k/ajQk10gq0MXEJ3gDVRQe4ZkmXDsGGDa4D5PWCQDH1drJmipCfhZHjj+WsXqyEs0dlo1gJmaPbviTb8yLC5hg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- 套用CSS -->
    <link rel="stylesheet" href="./css/all.min.css">
</head>
<body>

    
       

    <!-- 導覽列 10/3更新-->
    <nav class="main_nav navbar navbar-expand-lg navbar-light pe-3 bg-primary fixed-top navbar_top border-bottom border-primary">
        <div class="container-fluid">
            <div class="navbar-brand d-flex align-items-center">
                <img class="m-auto" style="height: 40px;" src="./imag/hg_logo/logo.svg" alt="">
                <a class="text-white" href="./index.html">厝動 HomeGym</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <div class="search d-flex ms-auto position-relative col-4">
                    <input class="form-control" type="text" placeholder="關鍵字搜尋" aria-label="default input example"> 
                    <i class="fa fa-search position-absolute end-0 fs-4 p-1 pe-2" ></i>
                </div>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                    <div id="marker"></div>
                    <li class="nav-item">
                        <a class="nav-link ms-3 text-white" aria-current="page" href="./shopping.html"><i class="fa fa-caret-square-o-right text-white" aria-hidden="true"></i>
                        商城</a>
                    </li>
                    <li class="shoppping_car nav-item dropdown">
                        <a class="nav-link ms-3 text-white text-center" href="shoppingCart.html"><i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
                        購物車</a>
                        <div class="dropdown-menu dropdown-menu-right" style="min-width:400px;min-height:100px;" id="dropdown-menu">
                            <div class="px-3 py-2 " id="menu">
                                <!-- 動態新增 -->
                            </div>   
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown text-center">
                            <a class="nav-link ms-3 dropdown dropdown-toggle text-white" id="mycourse_areas_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-window-maximize text-white" aria-hidden="true"></i>
                            我的課程</a>
                            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="mycourse_areas_dropdown">
                                <li><a class="dropdown-item text-center" href="./mycoursesAreasBuyedCourse.html">已買課程</a></li>
                                <li><a class="dropdown-item text-center" href="./mycoursesAreasKeepCourse.html">收藏課程</a></li>
                                <li><a class="dropdown-item text-center" href="./myFitnessPlan.html">健身計畫</a></li>
                                <li><a class="dropdown-item text-center start_btn" href="#" data-bs-toggle="modal" data-bs-target="#quiz_info">健身知識</a></li>
                            </ul>
                        </div>
                    </li>
                    <img class="member_img ms-4 rounded-circle" src="https://fakeimg.pl/50x50/" alt="...">
                    <li class="nav-item">
                        <div class="top ms-3 text-center">
                            <a class="text-white" href="" data-bs-toggle="modal" data-bs-target="#signup">註冊</a>
                            <a class="text-white" href="" data-bs-toggle="modal" data-bs-target="#login">登入</a>
                        </div>
                        <div class="buttom text-center ms-3 dropdown">
                            <a class="dropdown-toggle text-white" href="#" id="member_areas_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">會員專區</a>
                            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="member_areas_dropdown">
                                <li><a class="dropdown-item text-center" href="./memberAreasIntroduction.html">會員中心</a></li>
                                <li><a class="dropdown-item text-center" href="./memberAreasApplicationCoach.html">成為教練</a></li>
                                <li><a class="dropdown-item text-center" href="./coachingAreasIntroduction.html">教練專區</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>

    <div id="nav_content">
        
        
        <!-- 登入<彈跳視窗> 驗證OK -->
        <div class="login_modal modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title m-auto" id="exampleModalLabel">登入帳號</h5>
                    </div>
                    <form id="needs_validation_login" novalidate>
                        <div class="modal-body">
                            <div class="login_btn d-flex flex-column w-50 align-items-center m-auto mb-3">
                                <div class="btn btn-outline-primary mb-2"><i class="fa fa-facebook-official fs-5 me-2" aria-hidden="true"></i>
                                    Facebook登入</div>
                                <div class="btn btn-outline-primary mb-2"><i class="fa fa-google fs-5 me-2" aria-hidden="true"></i>
                                    goolge登入</div>
                            </div>
                            <h5 class="text-center mb-2 mt-4">或以 HomeGym 帳號密碼登入</h5>
                            <div class="form-group">
                                <label for="member_id" class="form-label">Email</label>
                                <input type="email" class="form-control" id="member_id" placeholder="" v-model.trim="login.email" required>
                                <label for="password" class="form-label">密碼</label>
                                <!-- 密碼正則表達式 -->
                                <input class="form-control" type="password" id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{6,16}$" v-model.trim="login.password" required></input>
                                <p class="text-danger invalid-feedback">信箱或密碼錯誤</p>
                            </div>
                        </div>
                        <div class="text-end pe-3">
                            <a href="#" >忘記密碼</a>
                        </div>
                        <div class="modal-footer">
                            <div class="m-auto">
                                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">取消</button>
                                <button type="submit" @click="memberLogin()" class="btn btn-primary">登入</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <!-- 註冊<彈跳視窗> -->
        <div class="modal fade" id="signup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title m-auto" id="exampleModalLabel">註冊帳號</h5>
                    </div>
                    <form id="needs_validation_signup">
                        <div class="modal-body">
                            <div class="row align-items-center mb-4">
                                <div class="col-auto">
                                    <label for="member_email" class="form-label">信箱</label>
                                </div>
                                <div class="col">
                                    <input type="email" class="form-control" id="member_email" placeholder="請輸入Email" v-model.trim="signup.email">
                                    <span><!-- 錯誤提示位置 --></span>
                                </div>
                            </div>
                            <div class="row align-items-center mb-4">
                                <div class="col-auto">
                                    <label for="pwd" class="form-label">密碼</label>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="password" id="pwd" placeholder="" v-model.trim="signup.password"></input>
                                    <span><!-- 錯誤提示位置 --></span>
                                </div>
                            </div>
                            <div class="row align-items-center mb-4">
                                <div class="col-auto">
                                    <label for="repassword" class="form-label">再輸入一次密碼</label>
                                </div>
                                <div class="col">
                                    <!-- 綁定PleasPwd方法 -->
                                    <input class="form-control" type="password" id="repassword" onfocus="pleasePwd()"></input>
                                    <span><!-- 錯誤提示位置 --></span>
                                </div>
                            </div>
                            <div class="row align-items-center mb-4">
                                <div class="col-auto">
                                    <label for="member_name" class="form-label" >姓名</label>
                                </div>
                                <div class="col">
                                    <input class="form-control" id="member_name" v-model.trim="signup.name"></input>
                                    <span><!-- 錯誤提示位置 --></span>
                                </div>
                            </div>
                            <div class="row align-items-center mb-4">
                                <div class="col-auto">
                                    <label for="member_phone" class="form-label">手機</label>
                                </div>
                                <div class="col">
                                    <input class="form-control" id="member_phone" v-model.trim="signup.phone"></input>
                                    <span><!-- 錯誤提示位置 --></span>
                                </div>
                            </div>
                            <div class="row align-items-center mb-4">
                                <div class="col-auto">
                                    <label for="member_birthday" class="form-label">生日</label>
                                </div>
                                <div class="col">
                                    <!-- 生日限制 10歲以上 90歲以下-->
                                    <input class="form-control" type="date" id="member_birthday" min="1930-01-01" max="2011-01-01" v-model.trim="signup.birthday"></input>
                                    <span><!-- 錯誤提示位置 --></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="m-auto">
                                <button type="button" onclick="clearFormContent()" class="btn btn-outline-secondary me-3" data-bs-dismiss="modal">取消</button>
                                <button class="btn btn-outline-primary disabled" @click="memberSignUp()" type="button" id="btn_signup" data-bs-target="#signup_success" data-bs-toggle="modal" data-bs-dismiss="modal">註冊</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <!-- 註冊成功<彈跳視窗> -->
        <div class="modal fade" id="signup_success" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title m-auto" id="exampleModalToggleLabel2">註冊帳號</h5>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <i class="fa fa-check-square-o fs-1 text-success" aria-hidden="true"></i>
                    <h3>註冊成功</h3>
                    <p class="me-3">已將驗證信送至Email</p>
                    <div class="d-flex align-items-end">
                        <!-- 綁定resendMail()方法 -->
                        <button class="btn btn-outline-primary me-3" id="btResend" onclick="resendMail()">重新發一次驗證信</button>
                        <!-- 動態新增秒數 -->
                        <div class="text-muted" id="countSeconds"></div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-dismiss="modal">開始進入健身生活</button>
                </div>
              </div>
            </div>
        </div>
    
        <!-- quiz_info <彈跳視窗> -->
        <div class="modal fade info_box" id="quiz_info" aria-hidden="true" data-bs-backdrop="static" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header info_title">
                    <h5 class="modal-title m-auto" id="exampleModalToggleLabel2">準備挑戰健身知識</h5>
                </div>
                <div class="modal-body info_list ms-4">
                    <div class="mb-2">1.每一題需十五秒內完成</div>
                    <div class="mb-2">2.請輕鬆作答增加健身小常識</div>
                    <div class="mb-2">3.總共有五道題目</div>
                    <div class="mb-2">4.全部答對後將會獲得折價卷</div>
                </div>
                <div class="modal-footer buttons d-flex justify-content-center">
                    <button class="btn btn-outline-primary quit show me-3" data-bs-dismiss="modal">還沒準備</button>
                    <button class="btn btn-primary restart show" data-bs-target="#quiz_box" data-bs-toggle="modal" data-bs-dismiss="modal">可以開始</button>
                </div>
            </div>
            </div>
        </div>
    
        <!-- quiz_box <彈跳視窗> -->
        <div class="modal fade" id="quiz_box" aria-hidden="true" data-bs-backdrop="static" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title col-8" id="exampleModalToggleLabel2">健身知識挑戰開始</h5>
                <div class="timer d-flex bg-primary p-2 rounded-3 col-4 justify-content-center">
                    <div class="time_left_txt me-2 text-white">剩餘時間</div>
                    <div class="timer_sec badge bg-light text-dark d-flex align-items-center justify-content-center">03</div>
                </div>
                </div>
                <div class="modal-body">
                    <div class="que_text">
                    <!-- Here I've inserted question from JavaScript -->
                    </div>
                    <div class="option_list p-3 d-block">
                    
                    <!-- Here I've inserted options from JavaScript -->
                    </div>
                </div>
                <div class="modal-footer result_footer  d-flex justify-content-between">
                    <div class="total_que">
                    <!-- Here I've inserted Question Count Number from JavaScript -->
                    </div>
                    <button class="next_btn btn btn-outline-primary show d-none">下一題</button>
                    <button class="btn btn-primary result_btn " data-bs-target="#result_box" data-bs-toggle="modal" data-bs-dismiss="modal">查看結果</button>
                </div>
            </div>
            </div>
        </div>
      
        <!-- result_box -->
        <div class="modal fade result_b" id="result_box" aria-hidden="true" data-bs-backdrop="static" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">健身知識結果</h5>
                </div>
                <div class="modal-body  d-flex flex-column align-items-center">
                <div class="complete_text mb-3">恭喜你完成了健身知識測驗</div>
                <div class="score_text">
                    <!-- 插入評分 -->
                </div>
                </div>
                <div class="modal-footer buttons">
                <button class="btn btn-primary  show" data-bs-dismiss="modal" data-bs-target="#quiz_info" data-bs-toggle="modal" onclick="reset_result_btn()">再次挑戰</button>
                <button class="btn btn-primary  show" data-bs-dismiss="modal" onclick="reset_result_btn()">休息一下</button>
                </div>
            </div>
            </div>
        </div>
       
    </div>
    


    <!-- 簡介 OK-->
    <header class="hg_title mb-6">
        <div class="container-fluid align-items-center d-flex justify-content-center">
            <div class="text-center p-5">
                <h1>厝動HomeGym</h1>
                <h3>在厝運動，輕鬆又健康</h3>
            </div>
        </div>
    </header>

    <!-- 廣告版 OK-->
    <section class="course_banner pb-5 pt-6 overflow-hidden bg-white">
        <div class="container-fluid">
            <div class="swiper-container position-relative swiper_course_banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="w-100" src="https://fakeimg.pl/1280x720/" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://fakeimg.pl/1280x720/" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://fakeimg.pl/1280x720/" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://fakeimg.pl/1280x720/" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://fakeimg.pl/1280x720/" alt="">
                    </div>
                </div>
                <div class="swiper-pagination bottom-0"></div>
            </div>
        </div>
    </section>

    <!-- 教練精選/課程版 OK-->
    <section class="course_coaching overflow-hidden">
        <div class="container-fluid">
            <div class="swiper-container swiper_course_coaching">
                <div class="swiper-wrapper">
                    <!-- 輪播項目 -->
                    <div class="swiper-slide">
                        <div class="card d-flex flex-row w-75 m-auto border-0 align-items-end">
                            <img src="https://fakeimg.pl/1280x720/" class="img-fluid position-relative" alt="...">
                            <div class="card-body p-4 position-absolute border-2 border w-100">
                                <h3 class="mb-3">1教練名稱</h3>
                                <h5 class="mb-3">經驗：瑜伽團教練長</h5>
                                <p class="card-text w-50">自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card d-flex flex-row w-75 m-auto border-0 align-items-end">
                            <img src="https://fakeimg.pl/1280x720/" class="img-fluid position-relative" alt="...">
                            <div class="card-body p-4 position-absolute border-2 border w-100">
                                <h3 class="mb-3">2教練名稱</h3>
                                <h5 class="mb-3">經驗：瑜伽團教練長</h5>
                                <p class="card-text w-50">自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card d-flex flex-row w-75 m-auto border-0 align-items-end">
                            <img src="https://fakeimg.pl/1280x720/" class="img-fluid position-relative" alt="...">
                            <div class="card-body p-4 position-absolute border-2 border w-100">
                                <h3 class="mb-3">3教練名稱</h3>
                                <h5 class="mb-3">經驗：瑜伽團教練長</h5>
                                <p class="card-text w-50">自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹自我介紹</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- 課程介紹 OK-->
    <section class="course_recommendation_space pb-5 pt-6">
        <div class="container-fluid">
            <div class="swiper">
                <div class="swiper-container swiper_course_group">
                    <div class="swiper-wrapper">
                        <!-- 輪播組 -->
                        <div class="card_group d-flex swiper-slide justify-content-center">
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">1課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="./notPurchasedCourse.html" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">1課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="#" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">1課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="#" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card_group d-flex swiper-slide justify-content-center">
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">2課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="#" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">2課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="#" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">2課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="#" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card_group d-flex swiper-slide justify-content-center">
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">3課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="#" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">3課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="#" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            <div class="card w-25 h-100 me-3">
                                <img src="https://fakeimg.pl/400x300/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title">3課程名稱</h4>
                                        <h6 class="pe-3">教練名稱</h6>
                                    </div>
                                    <div class="d-flex">
                                        <p class="me-3 badge bg-secondary bg-dark">上半身</p>
                                        <p class="me-3 badge bg-secondary bg-dark">腿部</p>
                                    </div>
                                    <p class="card-text">課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介課程簡介</p>
                                    <a href="#" class="btn btn-primary">詳細課程內容</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next me-5 text-primary" id="course_recommendation_space_next"></div>
                <div class="swiper-button-prev ms-5 text-primary" id="course_recommendation_space_prev"></div>
            </div>
        </div>
    </section>
        
    <!-- 常見問題 OK -->
    <section class="fqa_space pb-5 pt-6">
        <div class="container">
            <div class="row">
                <h3>常見問題</h3>
                <div class="col-lg-8 col-md-12">

                    <div class="accordion" id="accordionExample">
                        <!-- 問題項目 -->
                        <div class="accordion-item border-1 border border-primary rounded-2 mb-2">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                問題1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-1 border border-primary rounded-2 mb-2">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                問題2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p>解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-1 border border-primary rounded-2 mb-2">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            問題3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <p>解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答</p>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item border-1 border border-primary rounded-2 mb-2">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            問題4
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <p>解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答</p>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item border-1 border border-primary rounded-2 mb-2">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            問題5
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <p>解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答解答</p>
                            </div>
                        </div>
                        </div>

                    </div>

                </div>
                <div class=" col-lg-4 d-flex align-items-center">
                    <img class="w-100" src="https://fakeimg.pl/400x500/" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- 傳送訊息 OK-->
    <section class="messenger_form pb-5 bg-primary pt-6" id="message" style="position: relative;">
        <div class="container col-lg-6 col-sm-12">
            <h3 class="text-white text-center">傳送訊息</h3>
                <div class="mb-3">
                    <label for="messenger_name" class="form-label text-white">姓名</label>
                    <input class="form-control" id="messenger_name" type="text" placeholder="請輸入姓名" aria-label="default input example" v-model.trim="message.visitorName">
                </div>
                <div class="mb-3">
                    <label for="messenger_email" class="form-label text-white">E-mail</label>
                    <input type="email" class="form-control" id="messenger_email"  placeholder="請輸入E-mail" v-model.trim="message.visitorEmail">
                </div>
                <div class="mb-3">
                    <label for="messenger_textarea1" class="form-label text-white">傳送內容</label>
                    <textarea class="form-control" id="messenger_textarea1" rows="5" v-model.trim="message.visitorMessage"></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-light mt-3 commentBtn" type="submit" @click="sendMessage" onclick="subimtShow()">送出</button>
                    <div class="alert hide">
                        <span class="msg">訊息已送出!</span>
                    </div>
                </div>
        </div>
    </section>

    <!-- footer OK-->
    <footer class="responsive_footer bg-light">
        <div class="content container-xl p-4">
            <div class="row justify-content-between">
                <div class="col-md-3 ">
                    <h5>關於我們</h5>
                    <p class="about text-primary text_ls">關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我關於我</p>
                </div>
                <div class="col-md-2 ">
                    <h5>關於</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="text_ls" href="#">使用者條款</a></li>
                        <li class="mb-2"><a class="text_ls" href="#">服務契約</a></li>
                        <li class="mb-2"><a class="text_ls" href="#">隱私權政策</a></li>
                        <li class="mb-2"><a class="text_ls" href="#">團隊</a></li>
                    </ul>
                </div>
                <div class="connection col-md-3 ">
                    <h5>聯絡方式</h5>
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <span class="me-2"><i class="fa fa-map-marker" aria-hidden="true"></i>
                            </span>
                            <p class="text-primary text_ls">台北市大安區忠孝東路三段1號</p>
                        </li>
                        <li class="d-flex">
                            <span class="me-2"><i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                            <p><a href="tel:+886911222333">0911-222-333</a></p>
                        </li>
                        <li class="d-flex">
                            <span class="me-2"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </span>
                            <p><a href="mailto:homeGym@gmail.com">homeGym@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
                <div class="link_contact col-md-3 d-flex flex-column align-items-center h-100 pb-3">
                    <ul class="list-unstyled">
                        <li class="border border-2 mb-3 p-2 border-primary rounded-2 mb-2">
                            <a class="d-flex" href="#"><i class="fa fa-youtube-play fs-2 me-2" aria-hidden="true"></i><p class="fs-5 mb-auto">Youtube</p></a>
                        </li>
                        <li class="border border-2 mb-3 p-2 border-primary rounded-2">
                            <a class="d-flex" href="#"><i class="fa fa-facebook-official fs-2 me-2" aria-hidden="true"></i><p class="fs-5 mb-auto">Facebook</p></a>
                        </li>
                        <li class="border border-2 mb-3 p-2 border-primary rounded-2">
                            <a class="d-flex" href="#"><i class="fa fa-instagram fs-2 me-2" aria-hidden="true"></i><p class="fs-5 mb-auto">Instagram</p></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bm-0 text-center bg-dark text-white p-3">
            本網站｜建議使用瀏覽器版本：Google Chrome版本60以上 / Firefox版本48以上 / Safari 版本11以上
        </div>
        
    </footer>

    



    

</body>
<!-- Bootstrap5 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- Swiper插件<幻燈片使用> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.6/swiper-bundle.min.js" integrity="sha512-r1+wZ6Dt2YNg8FujUHBbiXmDRNcVLTcN2q+lm0TSbmoBNUFJ4FdQ3zLeShz0bllBlzQ0QWtZuzJgdrW9xGc2Dw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./js/swiper_customized.js"></script>
<!-- JS -->
<script src="./js/index.js"></script>
<!-- quiz -->
<!-- <script src="./js/quiz_script.js"></script> -->
<script src="./js/quiz_questions.js"></script>
<!-- 導覽列顯示購物車商品 -->
<script src="./js/shoppingNav.js"></script>
<!-- Vue -->.
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.js' integrity='sha512-HkIQeXPu1b2dfKMXSER0khPNRQNY4rOVyUPDoSAIvX4Oalp9xsNZFz+GRLJSpyGYkjYlcTfEzN0YFvkZPD4n5g==' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.1/axios.js' integrity='sha512-LogMNgGlX6xjUWK/hYLh0dPM0hxgmSx/FmoTsBAHVR/XZkMo3+5GLLIhWt4Tb352+vmoa2Boq0KiDq+bskFzXQ==' crossorigin='anonymous'></script>
<script src="./Vue/navContent.js"></script>
<script src="./Vue/sendMessage.js"></script>
</html>