<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>厝動HomeGym</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>
<body>

    <div id="app">
        
        <!-- 導覽列 10/3更新-->
        <nav class="main_nav navbar navbar-expand-lg navbar-light pe-3 bg-primary navbar_top border-bottom border-primary">
            <div class="container-fluid">
                <div class="navbar-brand d-flex align-items-center">
                    <img class="m-auto" style="height: 40px;" src="./imag/hg_logo/logo.svg" alt="">
                    <a class="text-white" href="./index.html">厝動 HomeGym</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <div class="search d-flex ms-auto position-relative col-4">
                        <input class="form-control" type="text" placeholder="關鍵字搜尋" aria-label="default input example"> 
                        <i class="fa fa-search position-absolute end-0 fs-4 p-1 pe-2" ></i>
                    </div>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                        <div id="marker"></div>
                        <li class="nav-item">
                            <a class="nav-link ms-3 text-white" aria-current="page" href="./shopping.html"><i class="fa fa-caret-square-o-right text-white" aria-hidden="true"></i>
                            商城</a>
                        </li>
                        <li class="shoppping_car nav-item dropdown">
                            <a class="nav-link ms-3 text-white text-center" href="shoppingCart.html"><i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
                            購物車</a>
                            <div class="dropdown-menu dropdown-menu-right" style="min-width:400px;min-height:100px;" id="dropdown-menu">
                                <div class="px-3 py-2 " id="menu">
                                    <!-- 動態新增 -->
                                </div>   
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown text-center">
                                <a class="nav-link ms-3 dropdown dropdown-toggle text-white" id="mycourse_areas_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-window-maximize text-white" aria-hidden="true"></i>
                                我的課程</a>
                                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="mycourse_areas_dropdown">
                                    <li><a class="dropdown-item text-center" href="./mycoursesAreasBuyedCourse.html">已買課程</a></li>
                                    <li><a class="dropdown-item text-center" href="./mycoursesAreasKeepCourse.html">收藏課程</a></li>
                                    <li><a class="dropdown-item text-center" href="./myFitnessPlan.html">健身計畫</a></li>
                                    <li><a class="dropdown-item text-center start_btn" href="#" data-bs-toggle="modal" data-bs-target="#quiz_info">健身知識</a></li>
                                </ul>
                            </div>
                        </li>
                        <img class="member_img ms-4 rounded-circle" src="https://fakeimg.pl/50x50/" alt="...">
                        <li class="nav-item">
                            <div class="top ms-3 text-center">
                                <a class="text-white" href="" data-bs-toggle="modal" data-bs-target="#signup">註冊</a>
                                <a class="text-white" href="" data-bs-toggle="modal" data-bs-target="#login">登入</a>
                            </div>
                            <div class="buttom text-center ms-3 dropdown">
                                <a class="dropdown-toggle text-white" href="#" id="member_areas_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">會員專區</a>
                                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="member_areas_dropdown">
                                    <li><a class="dropdown-item text-center" href="./memberAreasIntroduction.html">會員中心</a></li>
                                    <li><a class="dropdown-item text-center" href="./memberAreasApplicationCoach.html">成為教練</a></li>
                                    <li><a class="dropdown-item text-center" href="./coachingAreasIntroduction.html">教練專區</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
    
        <!-- 導覽列<第二層> -->
        <nav> 
            <div class="nav d-flex align-items-center border-bottom border-top">
                    <a class="nav-link" href="./index.html">首頁</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a class="nav-link" href="./memberAreasIntroduction.html">會員中心</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a class="nav-link" href="./memberAreasMyOrderOk.html">我的訂單</a>
            </div>
        </nav>
    
        <!-- 訂單OK -->
        <section class="uploaded_course">
            <div class="container-fluid">
                <div class="row">
                    <!-- 側導覽列 -->
                    <div class="side_bar col-md-2 col-sm-12 p-0">
                        <div class="list-group rounded-0 mt-2">
                            <a href="./memberAreasIntroduction.html" class="list-group-item list-group-item-action d-flex flex-column align-items-center p-3" aria-current="true">
                                <i class="fa fa-user fs-3" aria-hidden="true"></i>
                                <p class="m-auto">會員資料</p> 
                            </a>
                            <a href="./memberAreasMyOrderOk.html" class="list-group-item list-group-item-action active  d-flex flex-column align-items-center p-3">
                                <i class="fa fa-list-alt fs-3" aria-hidden="true"></i>
                                <p class="m-auto">我的訂單</p> 
                            </a>
                        </div>
                    </div>
                    <!-- 內容 -->
                    <div class="col-md-10 col-sm-12">
                        <div class="ordered container ps-3 pe-3">
                            <!-- 分頁選項 -->
                            <div class="mt-3">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="./memberAreasMyOrderOk.html" class="nav-link active">已完成訂單</a></li>
                                    <li class="nav-item"><a href="./memberAreasMyOrderNg.html" class="nav-link ">交易失敗</a></li>
                                </ul>            
                            </div>
                            <!-- 項目卡片 -->
                            <div class="card mt-3 mb-3">
                                <div class="row  d-flex align-items-center">
                                    <div class="col-4 ps-5">
                                        <h6>訂單編號</h6>
                                        <p>A11111</p>
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-6 pt-3">
                                                <h6>訂單明細</h6>
                                                <button type="button" class="btn btn-primary btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#orderContent">
                                                    查看內容
                                                </button>
                                                <h6>價錢</h6>
                                                <p>1000元</p>
                                            </div>
                                            <div class="col-6 pt-3">
                                                <h6>付款方式</h6>
                                                <p>信用卡</p>
                                                <h6>訂單狀態</h6>
                                                <p>交易成功</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- 訂單明細內容(彈跳視窗) -->
                            <div class="modal fade" id="orderContent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">訂單明細內容</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group">
                                                <!-- 課程購買細項項目 -->
                                                <li class="list-group-item">
                                                    <div class="row align-items-center">
                                                        <div class="col-4">
                                                            <img class="w-100" src="https://fakeimg.pl/1280x720/" alt="">
                                                        </div>
                                                        <div class="col-4 pt-3">
                                                            <h6 class="">課程名稱</h6>
                                                            <p class="">3333</p>
                                                            <h6 class="">價錢</h6>
                                                            <p class="">CID0315</p>
                                                        </div>
                                                        <div class="col-4 pt-3">
                                                            <h6 class="">訓練部位</h6>
                                                            <p class="">CID0315</p>
                                                            <h6 class="">評價</h6>
                                                            <p class="">CID0315</p>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            
                            <!-- 分頁 -->
                            <nav aria-label="Page navigation example" class="mb-5">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.1/axios.js' integrity='sha512-LogMNgGlX6xjUWK/hYLh0dPM0hxgmSx/FmoTsBAHVR/XZkMo3+5GLLIhWt4Tb352+vmoa2Boq0KiDq+bskFzXQ==' crossorigin='anonymous'></script>

<script src="./Vue/memberAreasMyOrderOk.js"></script>
</html>