

//main_nav OK
.main_nav{
    box-shadow: rgba(17, 17, 26, 0.2) 0px 1px 0px;
    background-color: rgba(black,.3);
    transition: .5s;
    .fa-search{
        cursor: pointer;
        &:active{
            transform: scale(.9);
        }
    }
    .shoppping_car.dropdown:hover .dropdown-menu {
        display: block;
    }
    
}

//login_modal
.modal-dialog{
    .login_btn{
        .btn:hover i{
            color: white;
            transition: .5s;
        }
    }
}

//健身常識
.option_list{
    padding: 20px 0;
    .option{
        border: 1px solid #718aa0;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover{
            color: #004085;
            background: #cce5ff;
            border: 1px solid #b8daff;
        }
        &.correct{
            color: #155724;
            background: #d4edda;
            border: 1px solid #c3e6cb;
        }
        &.incorrect{
            color: #721c24;
            background: #f8d7da;
            border: 1px solid #f5c6cb;
        }
        &.disabled{
            pointer-events: none;
        }
        .icon{
            height: 26px;
            width: 26px;
            border: 2px solid transparent;
            border-radius: 50%;
            text-align: center;
            font-size: 13px;
            pointer-events: none;
            transition: all 0.3s ease;
            line-height: 24px;
            &.tick{
                color: #23903c;
                border-color: #23903c;
                background: #d4edda;
            }
            &.cross{
                color: #a42834;
                background: #f8d7da;
                border-color: #a42834;
            }
        }
    }
}
.modal-footer{
    height: 80px;
}

//簡介
.hg_title{
    .container-fluid{
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        height: 90vh;
    }
}


//banner OK
.course_banner{
    .swiper-container{
        padding-bottom:40px;
    }
    .swiper-slide{
        width:978px;
        transition-timing-function:linear;
        img{
            width:100%;
            border-radius: 4px;
            box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.5) 0px 0px 0px 1px;
        }
    }
    .swiper-pagination-bullet{
        background:none;
        opacity:1;
        margin:0 6px !important;
        width:9px;
        height:9px;
        position:relative;
        outline:none;
        vertical-align:middle;
        span{
            width:3px;
            height:3px;
            background:#CCC;
            display:block;
            border-radius:50%;
            margin-top:3px;
            margin-left:3px;
        }
        i{
            background:#000;
            height:1px;
            width:20px;
            position:absolute;
            top:4px;
            transform:scaleX(0);
            transform-origin:left;
            z-index:3;
            transition-timing-function:linear;
        }
        &::hover{
            span{
                width:9px;
                height:9px;
                margin-top:0;
                margin-left:0;
                background:#000;
                position:relative;
                z-index:1;
            }
        }
        &:first-child.swiper-pagination-bullet-active i{
            animation:first 7s;
        }
        &:last-child.swiper-pagination-bullet-active i{
            animation:last 7s;
        }
    }
    .swiper-pagination-bullet-active{
        span{
            width:9px;
            height:9px;
            margin-top:0;
            margin-left:0;
            background:#000;
            position:relative;
            z-index:1;
        }
        i{
            animation:middle 8s;
        }
    }
}
//banner_RWD
@media only screen and (max-width:1200px){
    .swiper-slide {
        width:770px;
    }
}
@media only screen and (max-width:980px){
    .swiper-slide {
        width:471px;
    }
}
@media only screen and (max-height:480px){
    .swiper-slide {
        width:471px;
    }
}
//banner_分頁動畫
@keyframes first{
    0% {transform:scaleX(0.5);left:0px;}/*091*/
    100% {transform:scaleX(1);left:2px;} /*0915*/
}
@keyframes last{
    0% {transform:scaleX(0.7);left:-10px;}/*1090*/
    20% {transform:scaleX(0.3);left:2px;} /*090*/
    100% {transform:scaleX(0.3);left:0px;} /*090*/
}		
@keyframes middle{
    0% {transform:scaleX(0.7);left:-10px;}/*1091*/
    20% {transform:scaleX(0.45);left:2px;}/*092*/
    100% {transform:scaleX(1);left:2px;} /*0913*/
}	

//教練介紹
.course_coaching{
    background:linear-gradient(45deg, rgba(223, 125, 125, 1) 14%, rgba(140, 178, 206, 1) 14%, rgba(140, 178, 206, 1) 48%, rgba(223, 125, 125, 1) 48%, rgba(223, 125, 125, 1) 71%, rgba(140, 178, 206, 1) 71%);
    .card-body{
        left: 50%;
        background-color: rgba($primary,.2);
    }
    .card{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}

//傳送訊息
.alert{
    background: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 8%;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.alert.hide{
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
        display: none;
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
        display: none;
    }
}

.alert .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.close-btn:hover{
    background: #ffc766;
}

.close-btn .fa-times{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;

}



// footer OK
.responsive_footer{
    .text_ls{
        letter-spacing: 1.5px;
    }
    .link_contact{
        li{
            cursor: pointer;
            &:hover{
                background-color:rgba($primary,.1);
            }
        }
    }
}



//RWD
/* 平板直立 */
@media only screen and (max-width:993px) {

    .main_nav input{
        display: none ;
    }
    .main_nav .fa-search{
        display: none ;
    }

    .main_nav .member_img{
        display: none;
    }

    /* 簡介 */
    .hg_title .container-fluid{
        height: 70vh;
    }

    /* Banner版 */
    .course_banner .swiper-wrapper .swiper-slide{
        width: 70%;
    }

    /* 教練精選/課程版 */
    .course_coaching .card{
        width: 100% !important;
    }
    
    .course_coaching .card-body{
        border-color:transparent !important;
        background-color: transparent;
        left: 0;
    }
    
    .course_coaching .card-body p{
        width: 100% !important;
    }

    /* 課程介紹 */
    .course_recommendation_space{
        display: none;
    }

    /* 常見問題 */
    .fqa_space img{
        display: none;
    }
    .fqa_space h3{
        text-align: center;
    }

    /* 傳送訊息 */
    .messenger_form .alert{
        min-width: 40px;
    }


    /* footer */
    .responsive_footer{
        text-align: center;
    }
    .responsive_footer .about{
        text-align: left;
    }
    .responsive_footer .connection li{
        justify-content: center;
    }

}

/* 手機 */

@media screen and (max-width:700px) {

    /* 教練精選/課程版 */
    .course_coaching .card-body{
        display: none;
    }
}

